@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/roboto-v49-latin-300.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto-v49-latin-regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('./fonts/roboto-v49-latin-italic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/roboto-v49-latin-700.woff2') format('woff2');
    font-display: swap;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
}

:root {
    --intil-black: #000000;
    --intil-white: #FFFFFF;

    --intil-grey-1: #F5F2F0;
    --intil-grey-2: #F5F2F0;
    --intil-grey-3: #E0DEDD;
    --intil-grey-4: #ABABAB;
    --intil-grey-5: #838587;
    --intil-grey-6: #555758;
    --intil-grey-7: #2B2C2C;

    --intil-green: #90E06A;
    --intil-green-complement: #7FC85D;
    --intil-yellow: #ECDC4B;
    --intil-yellow-complement: #C9BB41;
    --intil-light-orange: #EEBA36;
    --intil-orange: #F08B52;
    --intil-orange-complement: #C06E40;
    --intil-red: #D74141;
    --intil-red-complement: #AC3434;
    --intil-light-grey: #E9E9E9;
    --intil-light-grey-complement: #76787B;

    --intil-h1-size: 26px;
    --intil-h1-font-weight: 700;
    --intil-h2-size: 22px;
    --intil-h2-font-weight: 700;
    --intil-h3-size: 18px;
    --intil-h3-font-weight: 700;
}

.intil-h1 {
    all: unset;
    font-size: var(--intil-h1-size);
    font-weight: var(--intil-h1-font-weight);
    margin-bottom: 1rem;
}

.intil-h2 {
    all: unset;
    font-size: var(--intil-h2-size);
    font-weight: var(--intil-h2-font-weight);
    margin-bottom: 1rem;
}

.intil-h3 {
    all: unset;
    font-size: var(--intil-h3-size);
    font-weight: var(--intil-h3-font-weight);
    margin-bottom: 1rem;
}

.intil-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    border: none;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    outline: none;
    background-color: var(--intil-black);
    color: white;
}
